分析流程:
讀資料--->資料可視化--->特徵處理--->切分資料--->訓練模型--->預測數據

In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
#load data
dengue_features_train = pd.read_csv("C:\\Users\\user\\Desktop\\python workspace\\drivendata\\dengue_features_train.csv")
dengue_features_test =  pd.read_csv("C:\\Users\\user\\Desktop\\python workspace\\drivendata\\dengue_features_test.csv")
dengue_labels_train = pd.read_csv("C:\\Users\\user\\Desktop\\python workspace\\drivendata\\dengue_labels_train.csv")

In [4]:
#see the shape of training feature
dengue_features_train.shape

(1456, 24)

In [5]:
#see the first 5 rows of training feature
dengue_features_train.head()

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
0,sj,1990,18,1990-04-30,0.122600,0.103725,0.198483,0.177617,12.42,297.572857,...,32.00,73.365714,12.42,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0
1,sj,1990,19,1990-05-07,0.169900,0.142175,0.162357,0.155486,22.82,298.211429,...,17.94,77.368571,22.82,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6
2,sj,1990,20,1990-05-14,0.032250,0.172967,0.157200,0.170843,34.54,298.781429,...,26.10,82.052857,34.54,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4
3,sj,1990,21,1990-05-21,0.128633,0.245067,0.227557,0.235886,15.36,298.987143,...,13.90,80.337143,15.36,16.672857,2.428571,27.471429,6.771429,33.3,23.3,4.0
4,sj,1990,22,1990-05-28,0.196200,0.262200,0.251200,0.247340,7.52,299.518571,...,12.20,80.460000,7.52,17.210000,3.014286,28.942857,9.371429,35.0,23.9,5.8

In [6]:
#see the shape of test feature
dengue_features_test.shape

(416, 24)

In [7]:
#see the first 5 rows of test feature
dengue_features_test.head()

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
0,sj,2008,18,2008-04-29,-0.0189,-0.018900,0.102729,0.091200,78.60,298.492857,...,25.37,78.781429,78.60,15.918571,3.128571,26.528571,7.057143,33.3,21.7,75.2
1,sj,2008,19,2008-05-06,-0.0180,-0.012400,0.082043,0.072314,12.56,298.475714,...,21.83,78.230000,12.56,15.791429,2.571429,26.071429,5.557143,30.0,22.2,34.3
2,sj,2008,20,2008-05-13,-0.0015,NaN,0.151083,0.091529,3.66,299.455714,...,4.12,78.270000,3.66,16.674286,4.428571,27.928571,7.785714,32.8,22.8,3.0
3,sj,2008,21,2008-05-20,NaN,-0.019867,0.124329,0.125686,0.00,299.690000,...,2.20,73.015714,0.00,15.775714,4.342857,28.057143,6.271429,33.3,24.4,0.3
4,sj,2008,22,2008-05-27,0.0568,0.039833,0.062267,0.075914,0.76,299.780000,...,4.36,74.084286,0.76,16.137143,3.542857,27.614286,7.085714,33.3,23.3,84.1

In [8]:
#see the shape of label
dengue_labels_train.shape

(1456, 4)

In [9]:
#see the first 5 rows of test feature
dengue_labels_train.head()

  city  year  weekofyear  total_cases
0   sj  1990          18            4
1   sj  1990          19            5
2   sj  1990          20            4
3   sj  1990          21            3
4   sj  1990          22            6

In [10]:
#merge features and labels of training data
df = pd.merge(dengue_features_train, dengue_labels_train, how='outer', on=dengue_labels_train.columns.tolist()[:-1])
df.head(10)

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm,total_cases
0,sj,1990,18,1990-04-30,0.122600,0.103725,0.198483,0.177617,12.42,297.572857,...,73.365714,12.42,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0,4
1,sj,1990,19,1990-05-07,0.169900,0.142175,0.162357,0.155486,22.82,298.211429,...,77.368571,22.82,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6,5
2,sj,1990,20,1990-05-14,0.032250,0.172967,0.157200,0.170843,34.54,298.781429,...,82.052857,34.54,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4,4
3,sj,1990,21,1990-05-21,0.128633,0.245067,0.227557,0.235886,15.36,298.987143,...,80.337143,15.36,16.672857,2.428571,27.471429,6.771429,33.3,23.3,4.0,3
4,sj,1990,22,1990-05-28,0.196200,0.262200,0.251200,0.247340,7.52,299.518571,...,80.460000,7.52,17.210000,3.014286,28.942857,9.371429,35.0,23.9,5.8,6
5,sj,1990,23,1990-06-04,NaN,0.174850,0.254314,0.181743,9.58,299.630000,...,79.891429,9.58,17.212857,2.100000,28.114286,6.942857,34.4,23.9,39.1,2
6,sj,1990,24,1990-06-11,0.112900,0.092800,0.205071,0.210271,3.48,299.207143,...,82.000000,3.48,17.234286,2.042857,27.414286,6.771429,32.2,23.3,29.7,4
7,sj,1990,25,1990-06-18,0.072500,0.072500,0.151471,0.133029,151.12,299.591429,...,83.375714,151.12,17.977143,1.571429,28.371429,7.685714,33.9,22.8,21.1,5
8,sj,1990,26,1990-06-25,0.102450,0.146175,0.125571,0.123600,19.32,299.578571,...,82.768571,19.32,17.790000,1.885714,28.328571,7.385714,33.9,22.8,21.1,10
9,sj,1990,27,1990-07-02,NaN,0.121550,0.160683,0.202567,14.41,300.154286,...,81.281429,14.41,18.071429,2.014286,28.328571,6.514286,33.9,24.4,1.1,6

In [39]:
df.shape

(1456, 25)

特徵處理

In [11]:
#see Nan
df.isnull().sum()

city                                       0
year                                       0
weekofyear                                 0
week_start_date                            0
ndvi_ne                                  194
ndvi_nw                                   52
ndvi_se                                   22
ndvi_sw                                   22
precipitation_amt_mm                      13
reanalysis_air_temp_k                     10
reanalysis_avg_temp_k                     10
reanalysis_dew_point_temp_k               10
reanalysis_max_air_temp_k                 10
reanalysis_min_air_temp_k                 10
reanalysis_precip_amt_kg_per_m2           10
reanalysis_relative_humidity_percent      10
reanalysis_sat_precip_amt_mm              13
reanalysis_specific_humidity_g_per_kg     10
reanalysis_tdtr_k                         10
station_avg_temp_c                        43
station_diur_temp_rng_c                   43
station_max_temp_c                        20
station_min_temp_c                        14
station_precip_mm                         22
total_cases                                0
dtype: int64

In [12]:
#將所有遺漏值以中位數方式填入，避免缺失值造成的影響
df['ndvi_ne'] = df['ndvi_ne'].fillna(df['ndvi_ne'].median())
df['ndvi_nw'] = df['ndvi_nw'].fillna(df['ndvi_nw'].median())
df['ndvi_se'] = df['ndvi_se'].fillna(df['ndvi_se'].median())
df['ndvi_sw'] = df['ndvi_sw'].fillna(df['ndvi_sw'].median())
df['precipitation_amt_mm'] = df['precipitation_amt_mm'].fillna(df['precipitation_amt_mm'].median())
df['reanalysis_air_temp_k'] = df['reanalysis_air_temp_k'].fillna(df['reanalysis_air_temp_k'].median())
df['reanalysis_avg_temp_k'] = df['reanalysis_avg_temp_k'].fillna(df['reanalysis_avg_temp_k'].median())
df['reanalysis_dew_point_temp_k'] = df['reanalysis_dew_point_temp_k'].fillna(df['reanalysis_dew_point_temp_k'].median())
df['reanalysis_max_air_temp_k'] = df['reanalysis_max_air_temp_k'].fillna(df['reanalysis_max_air_temp_k'].median())
df['reanalysis_min_air_temp_k'] = df['reanalysis_min_air_temp_k'].fillna(df['reanalysis_min_air_temp_k'].median())
df['reanalysis_precip_amt_kg_per_m2'] = df['reanalysis_precip_amt_kg_per_m2'].fillna(df['reanalysis_precip_amt_kg_per_m2'].median())
df['reanalysis_relative_humidity_percent'] = df['reanalysis_relative_humidity_percent'].fillna(df['reanalysis_relative_humidity_percent'].median())
df['reanalysis_sat_precip_amt_mm'] = df['reanalysis_sat_precip_amt_mm'].fillna(df['reanalysis_sat_precip_amt_mm'].median())
df['reanalysis_specific_humidity_g_per_kg'] = df['reanalysis_specific_humidity_g_per_kg'].fillna(df['reanalysis_specific_humidity_g_per_kg'].median())
df['reanalysis_tdtr_k'] = df['reanalysis_tdtr_k'].fillna(df['reanalysis_tdtr_k'].median())
df['station_avg_temp_c'] = df['station_avg_temp_c'].fillna(df['station_avg_temp_c'].median())
df['station_diur_temp_rng_c'] = df['station_diur_temp_rng_c'].fillna(df['station_diur_temp_rng_c'].median())
df['station_max_temp_c'] = df['station_max_temp_c'].fillna(df['station_max_temp_c'].median())
df['station_min_temp_c'] = df['station_min_temp_c'].fillna(df['station_min_temp_c'].median())
df['station_precip_mm'] = df['station_precip_mm'].fillna(df['station_precip_mm'].median())

In [13]:
df.head(10) #檢查填入中位數後的資料樣貌

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm,total_cases
0,sj,1990,18,1990-04-30,0.122600,0.103725,0.198483,0.177617,12.42,297.572857,...,73.365714,12.42,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0,4
1,sj,1990,19,1990-05-07,0.169900,0.142175,0.162357,0.155486,22.82,298.211429,...,77.368571,22.82,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6,5
2,sj,1990,20,1990-05-14,0.032250,0.172967,0.157200,0.170843,34.54,298.781429,...,82.052857,34.54,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4,4
3,sj,1990,21,1990-05-21,0.128633,0.245067,0.227557,0.235886,15.36,298.987143,...,80.337143,15.36,16.672857,2.428571,27.471429,6.771429,33.3,23.3,4.0,3
4,sj,1990,22,1990-05-28,0.196200,0.262200,0.251200,0.247340,7.52,299.518571,...,80.460000,7.52,17.210000,3.014286,28.942857,9.371429,35.0,23.9,5.8,6
5,sj,1990,23,1990-06-04,0.128817,0.174850,0.254314,0.181743,9.58,299.630000,...,79.891429,9.58,17.212857,2.100000,28.114286,6.942857,34.4,23.9,39.1,2
6,sj,1990,24,1990-06-11,0.112900,0.092800,0.205071,0.210271,3.48,299.207143,...,82.000000,3.48,17.234286,2.042857,27.414286,6.771429,32.2,23.3,29.7,4
7,sj,1990,25,1990-06-18,0.072500,0.072500,0.151471,0.133029,151.12,299.591429,...,83.375714,151.12,17.977143,1.571429,28.371429,7.685714,33.9,22.8,21.1,5
8,sj,1990,26,1990-06-25,0.102450,0.146175,0.125571,0.123600,19.32,299.578571,...,82.768571,19.32,17.790000,1.885714,28.328571,7.385714,33.9,22.8,21.1,10
9,sj,1990,27,1990-07-02,0.128817,0.121550,0.160683,0.202567,14.41,300.154286,...,81.281429,14.41,18.071429,2.014286,28.328571,6.514286,33.9,24.4,1.1,6

In [14]:
df.isnull().sum() #檢查是否還有遺漏值

city                                     0
year                                     0
weekofyear                               0
week_start_date                          0
ndvi_ne                                  0
ndvi_nw                                  0
ndvi_se                                  0
ndvi_sw                                  0
precipitation_amt_mm                     0
reanalysis_air_temp_k                    0
reanalysis_avg_temp_k                    0
reanalysis_dew_point_temp_k              0
reanalysis_max_air_temp_k                0
reanalysis_min_air_temp_k                0
reanalysis_precip_amt_kg_per_m2          0
reanalysis_relative_humidity_percent     0
reanalysis_sat_precip_amt_mm             0
reanalysis_specific_humidity_g_per_kg    0
reanalysis_tdtr_k                        0
station_avg_temp_c                       0
station_diur_temp_rng_c                  0
station_max_temp_c                       0
station_min_temp_c                       0
station_precip_mm                        0
total_cases                              0
dtype: int64

In [16]:
df.shape

(1456, 25)

In [21]:
#將資料切成train和test資料集
from sklearn.cross_validation import train_test_split

data_train = df.iloc[:,4:24]
data_test = df.iloc[:,24]

train_X, test_X, train_y, test_y = train_test_split(data_train, data_test, test_size = 0.3)

In [22]:
#建立線性回歸模型並將資料餵入
from sklearn.linear_model import LinearRegression
clf = LinearRegression()
clf.fit(train_X, train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [24]:
#用訓練好的模型來預測
y_pred = clf.predict(test_X)
y_pred=y_pred.round()
y_pred

array([ 14.,  27.,  24.,  -3., -17.,  46.,  26.,  17.,  43.,   2.,   5.,
        19.,  38.,  15.,  27.,  45.,   0.,   8.,  17.,  34.,  10.,  29.,
        19.,  41.,   9., -14.,  41.,  15.,  50.,  43.,   1.,  44.,  43.,
        25.,   4.,  41.,  22.,  29.,  45.,  46.,  17.,  28.,  27.,  24.,
        33.,  25.,  32.,  31.,   9.,  15.,  17.,  50.,  37.,  20.,   4.,
         0.,  37.,  46.,  28.,  38.,  33.,   6.,  -9.,  22.,  30.,  -0.,
        37.,  26.,  27.,  38.,  26.,  38.,  39.,  33.,  43.,  11.,  11.,
        31.,  35.,  21.,  13.,  16.,  17.,  18.,  15.,  12.,  21.,   7.,
        -1.,  38.,  22.,  40.,  -9.,  15.,  35.,   0.,  45.,  30.,  23.,
        25.,  43.,  26.,   1.,  38.,  10.,  40.,  29.,  48.,   2.,  48.,
        37.,  25.,  -1.,  13.,  19.,  -7.,  45.,  27.,  13.,  45.,  14.,
        13.,  36.,  49.,  25.,  23.,  14.,  21.,   7.,  33.,  28.,  43.,
        15.,  28.,  39.,   8.,  19.,  34.,  25.,  18.,  23.,  23.,  25.,
        38.,  28.,  30.,  32.,  32.,  -9.,   5.,  39.,  14.,  47.,   2.,
        19.,   7.,   8.,  47.,  38.,  45.,  29.,  21.,  46.,  21.,   8.,
        15.,  37.,  34.,  38.,  29., -14.,   7.,  33.,  43.,   3.,  18.,
         9.,  20.,  41.,  31.,  14.,  32.,  35.,  12.,  64.,  19.,  35.,
        22.,  21.,  18.,  21.,  11.,  44.,  29.,  31.,  11.,   4.,  -0.,
        15.,  20.,  29.,  18.,  28.,  41.,   6.,  38.,  29.,  25.,  36.,
        26.,  49.,  33.,  30.,  42.,  45.,   7.,   5.,  33.,  14.,  45.,
        34.,  36.,  28.,  21.,  41.,   2.,  33.,  21.,  42.,  26.,  26.,
         3.,  45.,  38.,  13.,  16.,  14.,  25.,  35.,  38.,  39.,   2.,
        20.,   7.,  -5.,  22.,  -1.,  -5.,  23.,  -2.,  43.,  15.,  44.,
        24.,  38.,  36.,  10.,  12.,  43.,  24.,  41.,  37.,  31.,  42.,
        52.,  39.,  26.,  38.,  31.,  31.,  43.,  41.,  15.,  41.,  25.,
        22.,  43.,  46.,  -2.,   8.,  38.,  38.,  53.,  25.,  37.,  46.,
        20.,  45.,  45.,   7.,   2., -10.,  24.,  12.,  26.,  10.,  44.,
        23., -11.,   7.,  -5.,  15.,  22.,   7.,  33.,  27.,   8.,   8.,
        19.,  43.,  49.,  23.,  44.,  36.,  14.,  51.,  51.,  32.,  28.,
         4.,  38.,  10.,  41.,  19., -16.,   3.,  21.,  41.,  26.,  31.,
        19.,  52.,  21.,  11.,  39.,  29.,  29.,  53.,  39.,  29.,  41.,
        43.,  -6.,  41.,  20.,  20.,  -4.,   9.,   5.,  53.,  -9.,  20.,
        26.,  20.,   5.,  43.,  36.,  -3., -12.,  24.,  -0.,  -3.,  42.,
        11.,  23.,  31.,  43.,  15.,  20.,  23.,  13.,  32.,  17.,  -5.,
       -17.,  42.,  14.,  42.,  42.,  31.,  27.,  23.,  23.,  26.,  22.,
        12.,  21.,  18.,  19.,  27.,  13.,  33.,  22.,  12.,   7.,   2.,
        13.,  27.,  45.,  23.,  28.,  36.,  11.,  -1.,  38.,  12.,   5.,
        45.,  44.,  14.,  25.,   9.,  18.,  41.,   5.,  26.,  17.,  19.,
        28.,  19.,   1.,  -9.,  38.,  44.,   4.,  36.,  38.,  17.,  36.,
        23.,  40.,  35.,  29.,  36.,   1.,  37.,  22.])

In [27]:
#以MAE評估模型效能
from sklearn.metrics import mean_absolute_error, r2_score
# The coefficients
print('Coefficients: \n', clf.coef_)

# The mean absolute error
print("Mean absolute error: %.2f"
      % mean_absolute_error(test_y, y_pred))

# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % r2_score(test_y, y_pred))

Coefficients:
 [ -1.54428428e+00   4.50954948e+01  -2.45470874e+00  -1.35067638e+01
  -1.99200197e-02   9.02517781e+00  -1.80652906e+01  -2.12935698e+01
   1.32014231e+00   1.28299802e+00  -2.48301334e-03  -2.30884974e+00
  -1.99200197e-02   3.49636082e+01  -1.15950975e+00  -2.89100300e-02
  -1.39525982e+00   1.19514760e+00  -7.07572602e-01   7.56139056e-04]
Mean absolute error: 22.24
Variance score: 0.09

In [49]:
dengue_features_test_df = pd.DataFrame(dengue_features_test) #將要預測的資料轉換成dataframe的格式
dengue_features_test_df.isnull().sum() #檢查是否還有遺漏值

city                                      0
year                                      0
weekofyear                                0
week_start_date                           0
ndvi_ne                                  43
ndvi_nw                                  11
ndvi_se                                   1
ndvi_sw                                   1
precipitation_amt_mm                      2
reanalysis_air_temp_k                     2
reanalysis_avg_temp_k                     2
reanalysis_dew_point_temp_k               2
reanalysis_max_air_temp_k                 2
reanalysis_min_air_temp_k                 2
reanalysis_precip_amt_kg_per_m2           2
reanalysis_relative_humidity_percent      2
reanalysis_sat_precip_amt_mm              2
reanalysis_specific_humidity_g_per_kg     2
reanalysis_tdtr_k                         2
station_avg_temp_c                       12
station_diur_temp_rng_c                  12
station_max_temp_c                        3
station_min_temp_c                        9
station_precip_mm                         5
dtype: int64

In [50]:
#將所有遺漏值以中位數方式填入，避免缺失值造成的影響
dengue_features_test_df['ndvi_ne'] = dengue_features_test_df['ndvi_ne'].fillna(dengue_features_test_df['ndvi_ne'].median())
dengue_features_test_df['ndvi_nw'] = dengue_features_test_df['ndvi_nw'].fillna(dengue_features_test_df['ndvi_nw'].median())
dengue_features_test_df['ndvi_se'] = dengue_features_test_df['ndvi_se'].fillna(dengue_features_test_df['ndvi_se'].median())
dengue_features_test_df['ndvi_sw'] = dengue_features_test_df['ndvi_sw'].fillna(dengue_features_test_df['ndvi_sw'].median())
dengue_features_test_df['precipitation_amt_mm'] = dengue_features_test_df['precipitation_amt_mm'].fillna(dengue_features_test_df['precipitation_amt_mm'].median())
dengue_features_test_df['reanalysis_air_temp_k'] = dengue_features_test_df['reanalysis_air_temp_k'].fillna(dengue_features_test_df['reanalysis_air_temp_k'].median())
dengue_features_test_df['reanalysis_avg_temp_k'] = dengue_features_test_df['reanalysis_avg_temp_k'].fillna(dengue_features_test_df['reanalysis_avg_temp_k'].median())
dengue_features_test_df['reanalysis_dew_point_temp_k'] = dengue_features_test_df['reanalysis_dew_point_temp_k'].fillna(dengue_features_test_df['reanalysis_dew_point_temp_k'].median())
dengue_features_test_df['reanalysis_max_air_temp_k'] = dengue_features_test_df['reanalysis_max_air_temp_k'].fillna(dengue_features_test_df['reanalysis_max_air_temp_k'].median())
dengue_features_test_df['reanalysis_min_air_temp_k'] = dengue_features_test_df['reanalysis_min_air_temp_k'].fillna(dengue_features_test_df['reanalysis_min_air_temp_k'].median())
dengue_features_test_df['reanalysis_precip_amt_kg_per_m2'] = dengue_features_test_df['reanalysis_precip_amt_kg_per_m2'].fillna(dengue_features_test_df['reanalysis_precip_amt_kg_per_m2'].median())
dengue_features_test_df['reanalysis_relative_humidity_percent'] = dengue_features_test_df['reanalysis_relative_humidity_percent'].fillna(dengue_features_test_df['reanalysis_relative_humidity_percent'].median())
dengue_features_test_df['reanalysis_sat_precip_amt_mm'] = dengue_features_test_df['reanalysis_sat_precip_amt_mm'].fillna(dengue_features_test_df['reanalysis_sat_precip_amt_mm'].median())
dengue_features_test_df['reanalysis_specific_humidity_g_per_kg'] = dengue_features_test_df['reanalysis_specific_humidity_g_per_kg'].fillna(dengue_features_test_df['reanalysis_specific_humidity_g_per_kg'].median())
dengue_features_test_df['reanalysis_tdtr_k'] = dengue_features_test_df['reanalysis_tdtr_k'].fillna(dengue_features_test_df['reanalysis_tdtr_k'].median())
dengue_features_test_df['station_avg_temp_c'] = dengue_features_test_df['station_avg_temp_c'].fillna(dengue_features_test_df['station_avg_temp_c'].median())
dengue_features_test_df['station_diur_temp_rng_c'] = dengue_features_test_df['station_diur_temp_rng_c'].fillna(dengue_features_test_df['station_diur_temp_rng_c'].median())
dengue_features_test_df['station_max_temp_c'] = dengue_features_test_df['station_max_temp_c'].fillna(dengue_features_test_df['station_max_temp_c'].median())
dengue_features_test_df['station_min_temp_c'] = dengue_features_test_df['station_min_temp_c'].fillna(dengue_features_test_df['station_min_temp_c'].median())
dengue_features_test_df['station_precip_mm'] = dengue_features_test_df['station_precip_mm'].fillna(dengue_features_test_df['station_precip_mm'].median())

In [51]:
dengue_features_test_df_new = dengue_features_test_df.iloc[:,4:24] #略過前四欄的字串資料

In [54]:
#進行預測
result = clf.predict(dengue_features_test_df_new)
result = result.round()
result

array([ 25.,  26.,  35.,  29.,  37.,  32.,  32.,  41.,  43.,  44.,  34.,
        40.,  58.,  39.,  45.,  52.,  54.,  52.,  54.,  77.,  51.,  41.,
        48.,  45.,  45.,  36.,  37.,  39.,  38.,  36.,  33.,  29.,  24.,
        25.,  19.,  39.,  16.,  20.,  20.,  20.,  18.,  19.,  22.,  25.,
        12.,  24.,  17.,  13.,  23.,  19.,  18.,  21.,  25.,  23.,  29.,
        26.,  33.,  39.,  38.,  38.,  37.,  38.,  46.,  45.,  45.,  52.,
        41.,  46.,  41.,  48.,  46.,  49.,  51.,  46.,  48.,  49.,  53.,
        39.,  41.,  32.,  30.,  34.,  42.,  38.,  30.,  39.,  29.,  36.,
        27.,  24.,  29.,  27.,  25.,  28.,  21.,  26.,  31.,  33.,  24.,
        27.,  26.,  27.,  23.,  35.,  40.,  40.,  32.,  42.,  38.,  52.,
        45.,  47.,  48.,  43.,  49.,  53.,  45.,  47.,  46.,  57.,  47.,
        58.,  57.,  63.,  53.,  52.,  53.,  51.,  57.,  48.,  35.,  47.,
        45.,  34.,  27.,  26.,  30.,  19.,  25.,  24.,  22.,  21.,  16.,
        18.,  14.,  18.,  12.,  15.,  16.,  11.,  16.,  19.,  19.,  25.,
        20.,  21.,   8.,  25.,  22.,  28.,  32.,  40.,  38.,  51.,  51.,
        50.,  42.,  49.,  43.,  45.,  42.,  49.,  54.,  51.,  45.,  45.,
        56.,  43.,  47.,  49.,  43.,  38.,  33.,  41.,  37.,  34.,  36.,
        29.,  21.,  27.,  26.,  26.,  25.,  20.,  17.,  17.,  16.,  17.,
        11.,  18.,  15.,  16.,  16.,  10.,  15.,  21.,  25.,  35.,  28.,
        31.,  31.,  33.,  34.,  28.,  37.,  37.,  39.,  41.,  43.,  42.,
        40.,  39.,  43.,  44.,  45.,  46.,  35.,  41.,  39.,  38.,  45.,
        50.,  42.,  52.,  47.,  42.,  44.,  42.,  41.,  26.,  32.,  21.,
        22.,  15.,  23.,  17.,  12.,  24.,  19.,  20.,  14.,  15.,  18.,
        23.,  20.,  20.,  17.,  19.,  23.,  19.,  -0.,   4.,  21.,  10.,
        -1.,  -1.,   9., -10.,  -6.,  11.,  13.,   8.,   5.,   4.,  13.,
         0., -12.,  23.,  27.,  20.,   5.,  28.,   8.,  16.,  15.,   8.,
        21.,  11.,  15.,  12.,  10.,  11.,   8.,  11.,  12.,  22.,  11.,
        20.,  15.,  23.,  20.,  17.,  21.,  14.,  28.,   6.,   4.,   6.,
         4.,   8.,  14.,   3.,  13.,  -2.,   6., -10., -18.,  -4.,  -5.,
         2.,   2.,  -6.,  -5.,  -1.,   8.,  13.,  11.,   6.,  28.,  12.,
        11.,  16.,  25.,  18.,  21.,  15.,  18.,  20.,  11.,  24.,   8.,
        17.,   8.,   9.,  23.,   5.,   3.,   5.,  12.,   5.,  11.,  16.,
         9.,   4.,  19.,  19.,   2.,   4.,  16.,  -7.,   0.,  -1.,   0.,
        -8.,  -4., -15.,   5.,  -4.,   6.,  -7.,  -2., -12.,   8.,  13.,
        13.,  -6.,   4.,   4.,   8.,  13.,  10.,  22.,  13.,  23.,  25.,
        32.,  42.,  22.,  24.,  25.,  26.,   4.,  11.,  11.,  24.,  11.,
        11.,  21.,   8.,  16.,   6.,  25.,  12.,   4.,   4.,  28.,  19.,
         1.,  15.,  22.,  14.,   9.,   6.,   4.,  -9., -12.])

In [37]:
#讀入比賽格式
dengue_submission = pd.read_csv("C:\\Users\\user\\Desktop\\python workspace\\drivendata\\submission_format.csv")

In [64]:
#將預測結果寫入比賽格式
dengue_submission['total_cases'] = result
dengue_submission['total_cases'] = dengue_submission['total_cases'].astype(int)
dengue_submission.to_csv('submission_format.csv', index = False)

In [65]:
dengue_submission.head()

  city  year  weekofyear  total_cases
0   sj  2008          18           25
1   sj  2008          19           26
2   sj  2008          20           35
3   sj  2008          21           29
4   sj  2008          22           37